<div class="container">
  <h2>Ajouter un Logement</h2>
  <form (ngSubmit)="addLogement()">
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" [(ngModel)]="logement.adresse" name="adresse" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="delegation">Délégation</label>
      <input type="text" id="delegation" [(ngModel)]="logement.delegation" name="delegation" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="gouvernorat">Gouvernorat</label>
      <input type="text" id="gouvernorat" [(ngModel)]="logement.gouvernorat" name="gouvernorat" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" id="type" [(ngModel)]="logement.type" name="type" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" [(ngModel)]="logement.description" name="description" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="prix">Prix</label>
      <input type="number" id="prix" [(ngModel)]="logement.prix" name="prix" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
